/* ----- ВЕРХНЯЯ ПАНЕЛЬ ----- */
body.sidebar-collapse .main-header.navbar.navbar-dark,
body:not(.sidebar-collapse) .main-header.navbar.navbar-dark,
.main-header.navbar.navbar-dark {
    background-color: #dee2e6 !important;
}

.main-header.navbar.navbar-dark .navbar-brand,
.main-header.navbar.navbar-dark .navbar-nav .nav-link,
.main-header.navbar.navbar-dark .nav-link {
    color: #212529 !important;
}

/* Убираем возможное белое наслоение от Jazzmin */
.navbar-white {
    background-color: #dee2e6 !important;
}

/* Кнопки */
.btn-primary {
    background-color: #00557A !important;
    border-color: #004466 !important;
    color: #FFFFFF !important;
}
.btn-primary:hover {
    background-color: #003d5c !important;
    border-color: #002e44 !important;
}

/* Активные элементы бокового меню */
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #00557A !important;
    color: #FFFFFF !important;
}

/* Ссылки */
.content-wrapper a {
    color: #00557A !important;
}
