{% extends 'scanner/base.html' %}
{% block content %}
<h1>Список заказов</h1>
<table class="table">
    <thead><tr><th>Номер</th><th>Наименование</th><th>Статус</th><th></th></tr></thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <td>{{ order.order_number }}</td>
        <td>{{ order.full_name }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>
            <a href="{% url 'order_detail' order.id %}" class="btn btn-sm btn-outline-primary">Загрузить</a>
            <a href="{% url 'order_tree' order.id %}" class="btn btn-sm btn-primary">Дерево</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
