{% extends 'scanner/base.html' %}
{% block title %}Структура заказа {{ order.order_number }}{% endblock %}
{% block content %}
<h1>Заказ {{ order.order_number }}</h1>
<a href="{% url 'order_detail' order.id %}" class="btn btn-outline-primary mb-3">Загрузить спецификацию</a>
<table class="table table-bordered" id="tree-table">
    <thead class="table-dark">
        <tr><th>Обозначение</th><th>Наименование</th><th>Кол-во</th><th>Готовность</th><th>Действия</th></tr>
    </thead>
    <tbody>
    {% for item in root_items %}
        {% include 'scanner/_tree_row.html' with item=item level=0 %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
