/* Верхняя навигационная панель */
.navbar-dark {
    background-color: #00557A !important;  /* RAL 5010 */
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #000000 !important;            /* Чёрный текст */
    font-weight: bold;
}

/* Кнопки основного действия */
.btn-primary {
    background-color: #00557A !important;
    border-color: #004466 !important;
    color: #FFFFFF !important;
}
.btn-primary:hover {
    background-color: #003d5c !important;
    border-color: #002e44 !important;
}

/* Активные элементы бокового меню */
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #00557A !important;
    color: #FFFFFF !important;
}

/* Ссылки */
.content-wrapper a {
    color: #00557A !important;
}
